[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib
[submodule "vendor/fx-gltf"]
	path = vendor/fx-gltf
	url = https://github.com/jessey-git/fx-gltf
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/mcommon"]
	path = vendor/mcommon
	url = https://github.com/modeco80/libmcommon.git
	branch = xb2at
